.button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;

    &:hover {
        background-color: #2980b9;
        transform: scale(1.1);
    }
}